@tailwind base;
@tailwind components;
@tailwind utilities;

body::before,
body::after {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 10%;
}

@layer base {
  ::selection {
    @apply bg-indigo-400 dark:bg-indigo-600;
  }

  #bookViewer > div > div {
    @apply !bg-transparent !border-0;
  }

  #bookViewer > div > div:nth-child(2),
  #bookViewer > div > div > div:nth-child(2)  {
    @apply !hidden;
  }

  #bookViewer > div {
    @apply !border-0;
  }
}
